# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\aishw\OneDrive\Documents\sdlc\assignment10\.idea/dataSources/
/dataSources.local.xml
